body {
    font-family: Arial, sans-serif;
    background-color: #e0e5e9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(231, 25, 149, 0.208);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: rgba(243, 50, 243, 0.708);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(239, 0, 239, 0.865);
}

#output,
#interactionCount {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    text-align: center;
}